#1 - SUMMATION AND PRODUCTS

1.

In [ ]:
n = int(input("Choisisez un entier n : " ))
if n < 0 :
    while n<0 :
        n = int(input("Choisisez un entier n : " ))
        
produit, somme = 1, 0
for i in range(0, n+1) :
    if i%2 == 0 :
        produit = produit*(i+3)
    else :
        somme = somme + (i+3)

print('somme = ', somme) 
print('produit = ', produit)

2.

In [ ]:
days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche']
n = int(input("Choisisez un entier n compris entre 0 et 6 (0 pour Lundi): " ))

while n<0 or n>6 :
    n = int(input("Choisisez un entier n compris entre 0 et 6 : " ))
if n>=0 and n<=4 :
    print("\n", days[n])
else :
    print("Weekend")

3.

In [ ]:
mouth = ['Janvier','Février',  'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
n = int(input("Choisisez un entier n compris entre 0 et 11 (0 pour Janvier): " ))
while n<0 or n>11 :
    n = int(input("Choisisez un entier n compris entre 0 et 11 : " ))
    
if n in range(0, 12, 2) or ( n == 7) :
    print(mouth[n],"31 days")
elif n in range(1, 12, 2) and ( n not in [1, 7] ) : 
    print(mouth[n], "30 days")
elif n == 1 :
    print(mouth[n],"28/29 days")

4.

In [3]:
n = int(input("Entrez une nombre n : "))
while n<0 :
    n = int(input("Entrez une nombre n : "))
somme = 0

for i in range (n+1) :
    somme+=(i**2)
print (somme)

i = 0
somme = 0
while i<n+1 :
     somme+=(i**2)
     i+=1
print(somme)

Entrez une nombre n : 2
5
5

5.

In [10]:
fibo = [0, 1]

for i in range(2, 16) :
    n = fibo[i-1] + fibo[i-2]
    fibo.append(n)
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

6.

In [19]:
sequence = [0, 1]

for i in range(2, 31) :
    n = 3*sequence[i-2] + 0.5*sequence[i-1]
    sequence.append(n)
print(sequence)

[0, 1, 0.5, 3.25, 3.125, 11.3125, 15.03125, 41.453125, 65.8203125, 157.26953125, 276.095703125, 609.8564453125, 1133.21533203125, 2396.177001953125, 4597.7344970703125, 9487.398254394531, 18536.902618408203, 37730.646072387695, 74476.03089141846, 150429.9536628723, 298643.0695056915, 600611.3957414627, 1196234.906387806, 2399951.640418291, 4788680.539372563, 9594195.190941155, 19163139.213588268, 38364155.1796176, 76671495.2305736, 153428213.15413958, 306728592.2687906]

7.a

In [23]:
b = int(input('Entrez une année : '))
    
if (b % 4 ==0 and b % 100 != 0) or (b % 400 == 0) :
    print(b, 'is a laep year')

Entrez une année : 2004
2004 is a laep year

8.a

In [ ]:
n = int(input("Entrez une nombre n : "))
while n<0 :
    n = int(input("Entrez une nombre n : "))
somme = 0

for i in range (n+1) :
    somme+=(i**2)
print (somme)

i = 0
somme = 0
while i<n+1 :
     somme+=(i**2)
     i+=1
print(somme)

8.b

In [24]:
m = int(input('Entrez un entier m : '))
while n<0 :
    m = int(input("Entrez une nombre n : "))
fu = 0
somme =0
for i in range(0, m+1) :
    for j in range(i) :
        somme+=(j**2)
        if somme>=m :
            break;
print("found", j)


fu = 0
somme =0

while i<=m :
    while j<i :
        somme+=(j**2)
        if somme>=m :
            break;
        j+=1
    i+=1
print("found", j)

Entrez un entier m : 3
found 2
found 2

10.

In [25]:
n = int(input('Entrez un entier m : '))
while n<0 :
    n = int(input("Entrez une nombre n>0 : "))

N = int(input('Entrez un entier m : '))
while n<0 :
    N = int(input("Entrez une nombre n>0: "))
produit =1
for i in range(n+1) :
    for j in range(N+1) :
        produit = i*j
        print(i, '*', j, '=', produit )
    print('\n')

Entrez un entier m : 2
Entrez un entier m : 4
0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0


1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4


2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8